<div class = "col-xs-3">
  <h2>User info</h2>
    <div class="profile-container"><br>
      <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", class: "img-circle pull-left profile-img" %>
        <table class="table">
          <tbody>
            <tr></tr> 
            <tr>
              <th>name</th>
              <th><%= current_user.name %></th>
              <th></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= current_user.introduction %></th>
              <th></th>
              </tr>
          </tbody>
        </table>
          <% if current_user.id == current_user.id %>
            <p><%= link_to "", edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
          <% end %>
    </div><br>

  <h2>New book</h2>
    <%= form_for(book) do |f| %>
  <h4>Title</h4>
    <%= f.text_field :title %>
  <h4>Body</h4>
    <%= f.text_area :body %><br>
    <%= f.submit "Create Book" %>
  <% if book.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <% end %>
</div>