<body>
<div class="body">
<div class="container">
<p id="notice"></p>
<h2 class="form-header-title">User info</h2>
    <div class="form-body">
    <%= form_for(@user) do |f| %>
    <div class="field">
    <label for="user_name">Name</label>
   <%= f.text_field :name %>
  </div>

    <div class="field">
    <label for="user_image">ProfileImage</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %></div>

    <div class="field">
        <label for="introduction">Introduction</label>
   <%= f.text_area :introduction %>
  </div>
<div class="gender-field" style="display:inline-block";>
    <%= f.label :gender %><br />
    <%= f.label :man  %>
    <%= f.radio_button :gender, :man %>
    <%= f.label :woman  %>
    <%= f.radio_button :gender, :woman %>
    <%= f.label :other  %>
    <%= f.radio_button :gender, :other %>
</div>


<div class="field">
  <%= f.label :prefecture  %><br>
  <%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: 'form-control  btn-default' ,style:"width:120px" %>
</div>

<div class="field">
  <%= f.label :age  %><br>
  <%= f.select :age, User.ages.keys, {prompt: '選択してください'}, class: 'form-control  btn-default' ,style:"width:120px" %>
</div>


<div class="actions" style="margin-top:20px";>
    <%= f.submit "Update User" %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= @user.errors.count %> errors.messages.not_saved</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  </div>
</div>
<% end %>
</div>
</div>
</div>
</body>
